*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 50px;
    top: 0px;
    background-color: #333333;
    position: absolute;
}

#menu-wrap{
    width: 100%;
    margin-top: 0;
    position: relative;
    z-index: 40;
    display: block;
    top: 15px;
    left: 6%;
    right: 260px;
    
}

#menu-wrap ul{
    list-style: none;
    
}

#menu-wrap ul li{
    background-color: #003333;
    width: 120px;
    height: 35px;
    float: left;
    text-align: center;
    height: 35px;
    line-height: 35px;
    position: relative;
    border-radius: 8px;
    
    
}

#menu-wrap ul li a{
    text-decoration: none;
    color: #ffcc99;
    display: block;
}
#menu-wrap ul li:hover{
    background-color: #330033;
    border-radius: 8px;
}
#create{
    margin-top: 100px;
}
#create fieldset{
    margin-top: 100px;
    margin-left: 50px;
    width: 700px;
    height: 200px;
    
}
#input-field{
    width: 250px;
}
#create fieldset form input{
    padding: 5px;
}
/*#table{
    align-content: center;
}*/
table{
    width: 500px;
    border-collapse: collapse;
    border: 1px solid orange;
    margin-top: 100px;
    margin-left: 450px;
    text-align: center;
}


/*-----------------------Sub Menu-----------------------------*/
#submenu{
    width: 100%;
    margin-top: 0;
    position: relative;
    z-index: 40;
    display: block;
    top: 15px;
    left: 370px;
    right: 260px;
    
}

#submenu ul{
    list-style: none;
    
}

#submenu ul li{
    background-color: #333333;
    width: 300px;
    height: 35px;
    float: left;
    text-align: center;
    height: 35px;
    line-height: 35px;
    position: relative;
    border-radius: 8px;
    
}

#submenu ul li a{
    text-decoration: none;
    color: #ffcc99;
    display: block;
}
#submenu ul li:hover{
    background-color: #330033;
    border-radius: 8px;
}

#activated-picture{
    margin-left: 500px;
}